<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.springframework.org/schema/security
                    http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    <beans:bean id="webExpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>


    <http  auto-config="true" access-denied-page="/login.jsp" >
        <anonymous username="guest" granted-authority="ROLE_ANONYMOUS"/>
        <intercept-url pattern="/login.jsp" access="ROLE_ANONYMOUS,ROLE_ADMIN,ROLE_MANAGER,ROLE_ECONOMIST,ROLE_ACCOUNTANT,ROLE_DIRECTOR" />

        <intercept-url pattern="/home" access="ROLE_ADMIN,ROLE_MANAGER,ROLE_ECONOMIST,ROLE_ACCOUNTANT,ROLE_DIRECTOR" />
        <intercept-url pattern="/" access="ROLE_ADMIN,ROLE_MANAGER,ROLE_ECONOMIST,ROLE_ACCOUNTANT,ROLE_DIRECTOR" />


        <intercept-url pattern="/users/**" access="ROLE_ADMIN,ROLE_ANONYMOUS" />
        <intercept-url pattern="/products/**" access="ROLE_ADMIN" />
        <intercept-url pattern="/kindsAd/**" access="ROLE_ADMIN" />
        <intercept-url pattern="/organizations/**" access="ROLE_ADMIN" />
        <intercept-url pattern="/roles/create" access="ROLE_ADMIN,ROLE_ANONYMOUS" />

        <intercept-url pattern="/ads/**" access="ROLE_MANAGER" />
        <intercept-url pattern="/sales/**" access="ROLE_MANAGER" />
        <intercept-url pattern="/orders/**" access="ROLE_MANAGER" />
        <intercept-url pattern="/production/**" access="ROLE_MANAGER" />

        <intercept-url pattern="/reports/orders_by_product/**" access="ROLE_ECONOMIST" />
        <intercept-url pattern="/reports/dynamics_changes_sales/**" access="ROLE_ECONOMIST" />

        <intercept-url pattern="/reports/determining_cost_advertising/**" access="ROLE_ACCOUNTANT" />
        <intercept-url pattern="/reports/average_cost_product/**" access="ROLE_ACCOUNTANT" />

        <intercept-url pattern="/reports/average_cost_product/**" access="ROLE_DIRECTOR" />


        <form-login login-page="/login.jsp" default-target-url="/" authentication-failure-url="/login.jsp?error=true"/>
    </http>

    <beans:bean id='userSecurityService' class="daxzel.model.services.impl.UserSecurityService"/>

    <authentication-manager>
        <authentication-provider user-service-ref="userSecurityService">
        </authentication-provider>
    </authentication-manager>



</beans:beans>